<h1><%= @wishlist.name %></h1>
<p>By <%= link_to @wishlist.user.full_name, store_user_path(@wishlist.user) %></p>

<h3><%= pluralize @wishlist.products_count, "Product" %></h3>
<% @wishlist.wishlist_products.includes(:product).each do |wishlist_product|%>
  <div>
    <%= link_to wishlist_product.product.name, store_product_path(wishlist_product.product) %>
    <small>Added <%= l wishlist_product.created_at, format: :long %></small>
  </div>
<% end %>
