<h1><%= @wishlist.name %></h1>
<% if authenticated? && @wishlist.user == Current.user %>
  <%= link_to "Edit", edit_wishlist_path(@wishlist) %>
  <%= button_to "Delete", @wishlist, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<% end %>

<h3><%= pluralize @wishlist.products_count, "Product" %></h3>
<% @wishlist.wishlist_products.includes(:product).each do |wishlist_product| %>
  <div>
    <%= link_to wishlist_product.product.name, wishlist_product.product %>
    <small>Added <%= l wishlist_product.created_at, format: :long %></small>
    
    <% if authenticated? && @wishlist.user == Current.user %>
      <%= button_to "Remove", [@wishlist, wishlist_product], method: :delete, data: { turbo_confirm: "Are you sure?" } %>
    <% end %>
    <% if (other_wishlists = Current.user.wishlists.excluding(@wishlist)) && other_wishlists.any? %>
    <%= form_with url: [ @wishlist, wishlist_product ], method: :patch do |form| %>
        <%= form.collection_select :new_wishlist_id, other_wishlists, :id, :name %>
        <%= form.submit "Move" %>
    <% end %>
    <% end %>
<% end %>

<%= tag.button "Copy to clipboard", data: { controller: :clipboard, action: "clipboard#copy", clipboard_text_value: wishlist_url(@wishlist) } %>
  </div>
